.description {
  text-align: left;
  color: var(--color-text-light);
  line-height: 1.8;
  max-width: 100%;
  font-size: 1.1rem;
  text-align: justify;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_skills {
  display: flex;
  margin-top: 20px;
  padding: 12px 0;
  justify-content: space-between;
}

.about_skill_box i {
  font-size: 24px;
}

.about_skill_box {
  width: 200px;
  height: fit-content;
  padding: 24px 16px;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.about_skill_box h3 {
  font-family: var(--font-body);
  font-weight: 500;
}

@media screen and (max-width: 1060px) {
  .about_skills {
    flex-direction: column;
    gap: 12px;
  }
  .about_skill_box {
    width: 100%;
  }
}
