.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  height: fit-content;
  width: auto;
  margin: 0;
  background: #ffffff;
  border-radius: 12px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: var(--color-text-main);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  opacity: 0.6;
}

.navbar a:hover,
.navbar a.active {
  background: rgba(176, 176, 176, 0.2);
  opacity: 0.8;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .navbar {
    position: fixed;
    bottom: 20px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 60px;
    flex-direction: row;
    padding: 0 20px;
    gap: 0;
    justify-content: space-between;
  }

  .navbar a span {
    display: none;
  }
}
